.demo-card-wide.mdl-card {
    width: 512px;
    margin: auto;
}

.demo-card-wide>.mdl-card__title {
    color: #fff;
    height: 90px;
    background: #93272C;
}

.demo-card-wide>.mdl-card__menu {
    color: #fff;
}


.content-libraries {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.branding-colour {
    background: #002855;
}

.top-bar-icon {
    color: white;
}

.parallax {
    /* The image used */

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.demo-layout-transparent {
    background: #ffffff center / cover;
}

.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
           your background is light. */
    color: white;
}